{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Projects</h1>
      {{error}}
      <ul class="list-group">
        {%for project in projects%}

        <a class="list-group-item" href="{% url 'projectid' project.id%}"
          >{{project.nombre}}</a
        >
        {% empty %}
        <li class="list-group-item" colspan="4">
          No hay proyectos disponibles.
        </li>

        {%endfor%}
      </ul>
    </div>
  </div>
</main>

{% endblock %}
