{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form  method="post" class="card card-body">
                <h4>Crear Ticket sobre la Historia de usuario {{userStory.nombre}}</h4>
                {{error}}
                {% csrf_token%}
                <label for="" class="form-label">Ingresa el nombre</label>
                <input type="text" name="nombre" class="form-control" value="{{ticket.nombre}}">

                

                <label for="" class="form-label">Ingresa una descripcion</label>
                <textarea name="descripcion" class="form-control" id="" rows="8">{{ticket.descripcion}}</textarea>

                

                <label for="">Selecciona estado del Ticket</label>
                <select name="estado" id="" class="form-select mb-3">

                    {% if ticket.estado == 1 %}
                    <option value="1" selected>Activo</option>
                {% else %}
                    <option value="1" selected>Activo</option>    
                {% endif %}
        
                {% if ticket.estado == 2 %}
                    <option value="2" selected>En Proceso</option>
                {% else %}
                    <option value="2">En Proceso</option>   
                {% endif %}
        
                {% if ticket.estado == 3 %}
                    <option value="3" selected>Finalizado</option>
                {% else %}
                    <option value="3">Finalizado</option>   
                {% endif %}
                </select>

                <button class="btn btn-primary">Actualizar Ticket</button>
            </form>
        </div>

    </div>
</main>

{% endblock %}