{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-4 text-center">Home Project Manager</h1>

    {% if user.is_authenticated %}
    <h1>{{company}}</h1>
    <section class="card card-body">
      <p>Nit: {{company.nit}}</p>
      <p>Telefono: {{company.telefono}}</p>
      <p>Direccion: {{company.direccion}}</p>
      <p>Email: {{company.email}}</p>
    </section>
    {% else %}
    <div class="text-center pt-5">
      <h5>
        Programa para la administracion de proyectos de desarrollo, con
        historias de usuario y tickets
      </h5>
      <h6>by Anderson Gonzalez</h6>
      <a
        class="btn btn-success mt-5"
        href="https://github.com/LTrashy/Django-project-manager"
        target="_blank"
        >Repositorio en github</a
      >
      <br />
      <div class="mt-5">
        <a class="btn btn-secondary" href="/signin">Sign In</a>
        <a class="btn btn-dark" href="/signup">Sign Up</a>
      </div>
    </div>
    {% endif %}
  </section>
</main>

{% endblock %}
